<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create A New Post</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div class="navigation">
      <div class="home"><a href="/">Gabble</a></div>
      <div class="signup"><a href="/signup">Signup for Gabble!</a></div>
      <div class="login"><a href="/login">Login To Gabble</a></div>
      <div class="createpost"><a href="/createpost">Create New Post</a></div>
    </div>
    <h1>{{appType}}</h1>
    <!-- New message will post to mygabble.mustache -->
      <div class="gpost">
        <form method="post" action="/createpost">
          <textarea name="gpost" id="gpost" rows="10" cols="90" required maxlength="140">
          </textarea>
          <br />
          <button type="submit" id="submit">Submit New Post</button>
        </form>
      </div>
</body>
</html>
