<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>{{appType}}!</h1>
  <!-- If I do this page like the mockup, it'll jump right into Gabble? Or is it a sample of how Gabble works? -->
</body>
</html>
