<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <!-- Tester: Following the lecture to get this to work -->
  <h1>Gabble</h1>
  <div><a href="/createmessage">Post a New Message</a></div>
  
  <div><a href="/signup">Signup for Gabble!</a></div>
</body>
</html>
