<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <!-- Tester: Following the lecture to get this to work -->
  <h1>Gabble</h1>
    <div class="wrapper">
      <div class="navigation">
        <div class="home"><a href="/">Gabble</a></div>
        <div class="login"><a href="/login">Login To Gabble</a></div>
        <div class="createpost"><a href="/createpost">Create New Post</a></div>
        <div class="signup"><a href="/signup">Signup for Gabble!</a></div>
      </div>
    </div>
</body>
</html>
