<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <!-- Login needs to connect to gabblers database -->
  <h1>Gabble Login</h1>
  <form action="/login" method="post">
    <input type="text" id="username" placeholder="User Name" name="username" required maxlength="100"><br />
    <input type="password" id="password" placeholder="Password" name="password" required minlength="8"><br />
    <button type="submit" id="submit">Login</button>
  </form>
</body>
</html>
