 <!-- This page displays your Gabble -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Gabble</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>{{appType}}!</h1>
  
  <!-- How to display posts here -->


</body>
</html>
